{% extends "base.html" %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="../CSS/login.css" />

{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id = "body-login">
        <div class="login-container">
            <h2>Connexion</h2>
            <form action="/login" method="post">
                <div class="input-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" id="username" name="username" required />
                </div>
                <div class="input-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <div id="message-error-login">{{content}}</div>
                <button type="submit">Connexion</button>
            </form>
        </div>
    </div>
{% endblock %}

